#page{
    display:grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    background-color: coral;
}
#gameBoard{
    display: grid;
    background-color: black;
    width: 50vw;
    height: 50vh;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-content: center;
}
.square{
    display:grid;
    background-color: lightcyan;
    justify-content: center;
    align-content: center;
}
.square4{
    border-style: solid;
    border-color:black;
}
.square1, .square7{
    border-right: solid;
    border-left: solid;
}
.square3, .square5{
    border-top: solid;
    border-bottom: solid;
}
